/* header fonts, merriweather, lora (serifs) */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
/* subheader fonts, muli, raleway (sans serifs) */
/* @import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* body, exo 2, IBM plex sans (sans serifs) */
/* @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{margin: 0; padding: 0; box-sizing: border-box;}

body{font-size: 16px;}

body a{
    text-decoration: none;
}
body a:hover{
    text-decoration: none;
}

#flex{
    height: auto;
    min-width: auto; 
    background-color: #f7faff;   
}

nav{
    width: auto;
    height: 100px;
    /* background-color: rgba(220, 220, 220, .8); */
    background-color: #C7C7C7;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
#wrapper{
    height: auto;
    min-width: 0;
    max-width: 1400px;
    margin: auto;
}
#visionaryholder{
    height: 75px;
    width: 200px;
    margin: 15px 0 0 24px;
    float: left;
    background-color: rgba(0, 0, 0, .6);
    border-radius: 75px;
    /* transition-duration: .33s; */
    position: relative;
}
#visionaryholder:hover #logo{
    /* left: 100%; */
    transform: translateX(170%);
}
#visionaryholder:hover #visionarytitle{
    /* right: 100%; */
    transform: translate(0%, -50%);
}
#visionaryholder *{
    transition-duration: .33s;
}
#logo{
    height: 75px;
    width: 75px;
    border-radius: 100px;
    float: left;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;

}
#visionarytitle{
    float: right;
    position: absolute;
    font-size: 1.5em;
    /* font-size: 16pt; */
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 0px  rgba(0, 0, 0, 1);
    top: 50%;
    z-index: 1;
    padding: 1em;
    transform: translate(55%, -50%);
    font-size: 1.5em;
    font-family: 'raleway';
}
.navcta{
    display: block;
    font-family: 'raleway', Verdana, sans-serif;
    /* vertical-align: middle;
    text-align: center; */
    background-color: rgba(0, 0, 0, .6);
    position: relative;
    margin: 25px 24px 0 12px;
    /* padding: 5px; */
    padding: 10px;
    font-weight: 400;
    text-decoration: none;
    color: rgba(220, 220, 220, 1);
    border-radius: 2px;
    font-size: 1.5em;
}
.navcta:hover{
    background-color:  rgba(0, 0, 0, .8);
    color:  rgba(255, 255, 255, 1);
    cursor: pointer;
}
/* .homecta{
    float: left;
}
.contactcta{
    float: left;
} */
.header{
    font-size: 3em;
    font-family: 'Merriweather';
    text-align: center;
    clear: both;
}
#whyhead{
    margin-top: 150px;
}
#howhead{
    margin-top: 00px;
}
#whyuxcontainer{
    height: 550px;
    margin-top: 50px;
    /* background-color: darkcyan; */
}
.imagedesc{
    position: relative;
    width: 30%;
    margin: 15px 1.5% 15px 1.5%;
    background-color: rgba(0, 0, 0, .05);
    height: 520px;
    float: left;
    min-width: 300px;
    border-radius: 2px;
}
.image{
    height: 250px;
    width: 95%;
    margin: 2.5%;
    background-color: #C7C7C7;
    border-radius: 5%;
}
.whyuxsubhead{
    font-family: 'raleway';
    font-size: 1.7em;
    text-align: center;
}
.imagep{
    margin: 25px;
    font-family: 'ibm plex sans';
    font-size: 1.2em;
}

#whyuxcloser{
    display: block;
    height: 250px;
    margin: 75px 15% 75px 15%;
    /* background-color: darkred; */
    font-family: 'ibm plex sans';
    font-size: 1.5em;
    clear: both;
}
.imagedeschor{
    /* margin-top: 75px; */
    height: 400px;
    /* background-color: #C7C7C7; */
    width: 90%;
    margin: 150px 5% 0 5%;
    border-radius: 2px;
}
.attachedimage{
    /* float: right; */
    position: relative;
    width: 50%;
    height: 100%;
    background-color: #C7C7C7;
    border-radius: 50px;
}
#tested{
    background-image: url(../images/tested.svg);
    background-size: 90%, 90%;
    background-repeat: no-repeat;
    background-position: center;
}
#user{
    background-image: url(../images/user.svg);
    background-size: 80%, 80%;
    background-repeat: no-repeat;
    background-position: center;
}
#product{
    background-image: url(../images/product.svg);
    background-size: 65%, 65%;
    background-repeat: no-repeat;
    background-position: center;
}
.imagephor{
    /* float: right; */
    display: block;
    margin: 25px 2.5% 25px 2.5%;
    height: 350px;
    width: 45%;
    /* background-color: crimson; */
    /* font-family: 'ibm plex sans';
    font-size: 1.35em; */
    border-radius: 2px;
}
.howsubhead{
    display: block;
    height: 30px;
    width: 100%;
    margin: 20px 0 0 0;
    text-align: center;
    /* background-color: darkcyan; */
    font-size: 2em;
    font-family: 'raleway';
}
.howp{
    height: 260px;
    width: 80%;
    margin: 20px 10% 20px 10%;
    /* background-color: darkolivegreen; */
    font-family: 'ibm plex sans';
    font-size: 1.4em;
}

.floatright{
    float: right;
}
.floatleft{
    float: left;
}
#nextbutton{
    display: block;
    width: 15%;
    height: 50px;
    margin: 100px 42.5% 15px 42.5%;
    /* background-color: #0D65D9; */
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-family: 'raleway';
    font-size: 2.5em;
    color: #0D65D9;
    border-radius: 2px;
    /* border-color: #0D65D9;
    border-style: solid; */
}
#nextbutton:hover{
    color: #1775f1;
    background-color: rgba(0, 0, 0, .05);
    transition-duration: 0;
}
#bottomnavdots{
    width: fit-content;
    margin: auto;
    color: black;
    /* padding-bottom: 100px; */
}
#bottomnavdots:hover{
    color: rgba(0, 0, 0, .8);

}
#bottomnavdots:visited{
    color: black;
}

#bottomnavdotsindicator{
    display: block;
    width: fit-content;
    margin: auto;
    padding-bottom: 100px;
}
footer{
    height: 100px;
    background-color: #C7C7C7;
}
